<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <title>Головна</title>
</head>
<div layout:fragment="styles">
    <link th:href="@{'/lib/css/Chart.min.css'}" rel="stylesheet"/>
</div>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="text-center">Додати файл</h1>
        <div class="row">
            <form th:action="@{/document}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Обрати файл</label>
                    <input type="file" name="name" id="name" class="form-control" >
                </div>
                <button type="submit" class="btn btn-primary">Додати</button>
            </form>

        </div>
    </div>
</div>

<div layout:fragment="scripts">

</div>

</body>

</html>