<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <title>Головна</title>
</head>
<div layout:fragment="styles">
    <link th:href="@{'/lib/css/Chart.min.css'}" rel="stylesheet"/>
</div>
<body>
<div layout:fragment="content">
<h1>Привіт група ВПУ-824</h1>


<!--    <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></p>-->
<!--    <p sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></p>-->
<!--    <p><a th:href="@{/home}">User Home</a></p>-->
<!--    <p><a th:href="@{/document}">Документи</a></p>-->
<!--    <p><a th:href="@{/products}">Продукти</a></p>-->
<!--    <p><a th:href="@{/admin/home}">Admin Home</a></p>-->
<!--    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>-->
</div>


<div layout:fragment="scripts">

</div>

</body>

</html>