<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <title>Головна</title>
</head>
<div layout:fragment="styles">
    <link th:href="@{'/lib/css/Chart.min.css'}" rel="stylesheet"/>
</div>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="text-center">Галерея</h1>
        <div class="row">

            <div class="col-6 col-md-4 col-lg-3 mb-4" th:each="image : ${images}">
                <div class="card mx-auto text-center">
                    <a href="#url">
                        <img class="card-img-top" th:src="${image.getName()}" alt="Sample Title">
                    </a>
                </div>
            </div>

        </div>
    </div>



<!--    <p sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></p>-->
<!--    <p sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></p>-->
<!--    <p><a th:href="@{/home}">User Home</a></p>-->
<!--    <p><a th:href="@{/document}">Документи</a></p>-->
<!--    <p><a th:href="@{/products}">Продукти</a></p>-->
<!--    <p><a th:href="@{/admin/home}">Admin Home</a></p>-->
<!--    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>-->
</div>


<div layout:fragment="scripts">

</div>

</body>

</html>