<!DOCTYPE html>
<html
		xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Туризм у Карпати</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link th:href="@{'/lib/css/bootstrap.min.css'}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{'/assets/font-awesome-4.5.0/css/font-awesome.min.css'}" />

	<div layout:fragment="styles">
		<!-- Your Page Content Here -->
	</div>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/}">Карпати</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">User Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/document}">Documents</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

<div>
	<div layout:fragment="content">
		<!-- Your Page Content Here -->
	</div>
</div>

<!--<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>-->
<script th:src="@{'/lib/js/bootstrap.min.js'}"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>


<div layout:fragment="scripts">
	<!-- Your Page Content Here -->
</div>


</body>
</html>
